.marketItemPrice {
    flex: 1;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 2px;
}

.marketItemPrice small {
    background: #4c505d;
    width: 100%;
    color: white;
    display: block;
    padding: 5px;
    text-align: center;
}

.marketItemPrice h6 {
    background: #eee;
    padding: 10px;
    text-align: center;
    color: #222;
}

.marketItemPrice:first-child small {
    background: #28a745;
}

.marketItemPrice.RedBox small {
    background: #af354d;
}

button.marketButton {
    background: none !important;
    border: 0;
    color: #4285f4;
    padding: 0;
    margin: 0;
    height: auto;
    line-height: 0;
}

button.marketButton:hover {
    color: #333;
}

button.marketButton:focus {
    box-shadow: none !important;
    color: #333 !important;
}