
.tableGraphImage {
    max-width: 300px;
    height: auto;
    margin: 0 10px;
}

.table_style td {
    padding: 10px 10px 0;
}

.squareBorderText {
    border: 1px solid #4CAF50;
    width: 30px;
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 4px;
    color: #4CAF50;
}

.dashboardGrid-Item {
    border: 1px solid #ccc;
    border-radius: 5px;
}


@media (max-width: 1025px) {
    .modal .dashboardModel-Amount {
        display: block !important;
    }

    .modal .dashboardModel-Amount * {
        width: 100%;
        margin: 0 0 4px;
    }

    .modal .dashboardModel-Amount strong {
        display: block;
        margin-bottom: 15px;
    }
}