.feedItem input {
    background: #ffffff;
    border: 0;
}

.feedItem {
    background: white;
    padding: 20px;
    border: 1px solid #e3e3e3;
    margin: 20px 0;
    border-radius: 5px;
}

.feed-commentBox {
    margin: 15px -20px -20px;
    background: #f8f9fa;
    padding: 15px;
}

.editor {
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    margin-bottom: 2em;
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    background: #fefefe;
}

.editor :global(.public-DraftEditor-content) {
    min-height: 140px;
}