.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.Logo h4 a {
    color: white;
    font-weight: bold;
}

.Flex {
    display: flex;
    align-items: center;
}

.flexJustifyRight {
    justify-content: flex-end;
}

.margin-15 {
    margin: 15px;
}

.mr-15 {
    margin-right: 15px;
}

.dropdownWithoutCaret button:after {
    display: none;
}

.noMargin {
    margin: 0px;
}

.smalltext {
    font-size: 12px;
}

.GreenText {
    fill: #4CAF50;
    color: #4CAF50;
}

.RedText {
    fill: #af354d;
    color: #af354d;
}


.liteButton button {
    background: none;
    border: 0px;
    color: #333;
}

.textButton button {
    background: none;
    border: 0;
    color: #ccc;
}

.btn-sm svg {
    height: 21px;
}

.textButton button:hover,
.textButton button:active,
.textButton button:focus {
    background: none !important;
    color: #333 !important;
    border: 0px;
    box-shadow: none;
}

/*AppBar*/

.topBar {
    background: white;
}

.topBar button {
    background: none;
    border: 0px;
    color: #333;
    outline: none !important;
}

.makeStyles-content-4 {
    overflow-x: hidden !important;
}

button.MuiIconButton-root:focus {
    outline: none;
}

#root .makeStyles-appBarShift-38.appBarHideShift {
    margin: 0px !important;
    width: 100%;
}

.MuiDrawer-paperAnchorLeft {
    background: #4c505d !important;
    color: #b1b3c0 !important;
}

.MuiPaper-root svg {
    color: #b1b3c0 !important;
}

.MuiIconButton-label svg {
    color: #fff !important;
}

label.NavLabel {
    margin: 0 10px;
    position: relative;
    top: -10px;
    background: #4c505d;
    z-index: 1;
    padding: 0 10px;
}

.MuiListItemIcon-root img {
    width: 22px;
}

.AppBarSearchIcon {
    padding: 0 10px;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AppBarSearch {
    position: relative;
    border-radius: 5px;
    background-color: #eeeeee3b;
    margin: 0;
    display: flex;
    align-items: center;
    height: 40px;
}

.AppBarSearchIcon svg {
    color: white !important;
}

.AppBarSearch input::placeholder {
    color: white !important;
    opacity: 1;
}

/*
Nav
 */
.MuiDrawer-paperAnchorLeft a {
    color: #a1a3b0;
    text-decoration: none;
}

.MuiDrawer-paperAnchorLeft a:hover {
    color: #f1f1f1;
}

/*Nav Scrollbar*/
.MuiDrawer-paperAnchorLeft::-webkit-scrollbar {
    background-color: #4c505d;
    width: 7px
}

.MuiDrawer-paperAnchorLeft::-webkit-scrollbar-track {
    background-color: #4c505d
}

.MuiDrawer-paperAnchorLeft::-webkit-scrollbar-track:hover {
    background-color: #4c505d
}

.MuiDrawer-paperAnchorLeft::-webkit-scrollbar-thumb {
    background-color: #b1b3c0;
    border-radius: 16px;
}

.MuiDrawer-paperAnchorLeft::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
    border: 4px solid #4c505d
}

.MuiDrawer-paperAnchorLeft::-webkit-scrollbar-button {
    display: none
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/*Tabs*/
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border: 0px;
    background: none;
    border-bottom: 2px solid #007bff;
    color: #007bff;
}

.nav-tabs {
    border: 0px;
}

.nav-tabs .nav-link {
    color: #333;
    flex: 1;
}

.tab-content {
    padding: 20px;
}

.Tabs-titleIcon svg {
    height: 18px;
    display: flex;
}

.Tabs-titleIcon {
    display: flex;
    justify-content: center;
}

/*Notice*/
.Notice {
    color: #ccc;
}

.Notice-Empty svg {
    display: block;
    margin: auto;
    height: 100px;
    width: 91px;
    opacity: 0.5;
}

/*Modal*/
.modal.show .modal-dialog {
    z-index: 99999;
}

.modal {
    z-index: 9999;
}

.dashModel .modal-body {
    padding: 0;
}

.dashModel .nav {
    background: #495057;
    padding: 10px;
}

.dashModel .modal-content {
    border: 0px;
    overflow: hidden;
}

.dashModel .nav-item {
    text-align: center;
    /* background: white; */
}

.dashModel .nav-pills .nav-link.active {
    background: #333;
    color:white;
}

.dashModel .nav-pills .nav-link {
    background: #a5a5a5;
    border-radius: 0px;
    color: #333;
    outline:none;
}

.dashModel .nav-pills .nav-item:last-child .nav-link {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dashModel .nav-pills .nav-item:first-child .nav-link {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.modal button.modalClose {
    position: absolute;
    right: 0;
    background: transparent;
    border: 0px;
    top: 7px;
}

@media (max-width: 1025px) {
    .AppBarSearch {
        display: none !important;
    }
}

