.loginBackground{
    background:#eee;
    width:100vw;
    height:100vh;
    display:flex;
    align-items: center;
}

.loginWrap{
    width:500px;
    max-width: 100%;
    margin:auto;
    background: #fff;
    padding:40px 30px 50px;
    border-top: 1px solid #e4e4e4;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
}

.loginInput{
    width:100%;
    margin-bottom: 20px !important;
}